<a href="https://colab.research.google.com/github/BraulioHermanson/Others_Projectss/blob/main/PDF_Tabula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install tabula-py

In [4]:
import tabula
import pandas as pd

In [8]:
df = tabula.read_pdf('MGLU_ER_3T20_POR.pdf', pages = 5)
# o df é uma lista
tabela = df[0]
tabela = tabela.dropna(how='all',axis =0)
tabela = tabela.dropna(how='all',axis = 1)
tabela.columns = tabela.iloc[0]
tabela = tabela.reset_index(drop=True)
display(tabela)

#tabela.to_excel('tabela_dre.xlsx')

,R$ milhões (exceto quando indicado),3T2,3T1,Var(%,9M2,9M1,Var(%
0,R$ milhões (exceto quando indicado),3T2,3T1,Var(%,9M2,9M1,Var(%
1,Vendas Totais1 (incluindo marketplace),"12.355,5","6.817,6","81,2","28.584,","18.282,6","56,3"
2,Receita Bruta,"10.349,5","5.999,4","72,5","23.652,","16.508,8","43,3"
3,Receita Líquida,"8.308,3","4.864,2","70,8","19.111,","13.501,3","41,6"
4,Lucro Bruto,"2.178,7","1.424,9","52,9","5.034,","3.728,6","35,0"
5,Margem Bruta,"26,2","29,3","-3,1 p","26,3","27,6","-1,3 p"
6,EBITDA,"546,1","501,2","9,0","1.022,","1.276,5","-19,9"
7,Margem EBITDA,"6,6","10,3","-3,7 p","5,3","9,5","-4,2 p"
8,Lucro Líquido,"206,0","235,1","-12,4","172,","753,8","-77,2"
9,Margem Líquida,"2,5","4,8","-2,3 p","0,9","5,6","-4,7 p"
10,Lucro Bruto - Ajustado,"2.178,7","1.488,9","46,3","5.034,","3.964,6","27,0"
11,Margem Bruta - Ajustado,"26,2","30,6","-4,4 p","26,3","29,4","-3,1 p"
12,EBITDA - Ajustado,"561,2","397,5","41,2","982,","1.163,6","-15,6"
13,Margem EBITDA Ajustado,"6,8","8,2","-1,4 p","5,1","8,6","-3,5 p"
14,Lucro Líquido - Ajustado,"215,9","127,3","69,6","145,","338,1","-56,9"
15,Margem Líquida - Ajustado,"2,6","2,6","0,0 p","0,8","2,5","-1,7 p"
16,Crescimento nas Vendas Mesmas Lojas Físicas,"7,2","9,4",NaN,"-15,7","5,8",NaN
17,Crescimento nas Vendas Totais Lojas Físicas,"18,3","19,0",NaN,"-6,3","14,5",NaN
18,Crescimento nas Vendas E-commerce (1P),"149,5","66,3",NaN,"124,0","43,8",NaN
19,Crescimento nas Vendas E-commerce Total,"148,5","96,0",NaN,"136,1","68,2",NaN
20,Participação E-commerce Total nas Vendas Totais,"66,3","48,3","17,9 p","66,5","44,0","22,4 p"
21,Quantidade de Lojas - Final do Período,1.237,1.03,199 loja,1.23,1.038,199 loja
22,Área de Vendas - Final do Período (M2),656.189,612.353,"7,2",656.18,612.353,"7,2"

### Paginas com mais de uma tabela

In [12]:
df1 = tabula.read_pdf('MGLU_ER_3T20_POR.pdf', pages = 12)
for tabela1 in df1:
  tabela1 = tabela1.dropna(how='all',axis =0)
  tabela1 = tabela1.dropna(how='all',axis = 1)
  display(tabela1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(+) Contas a Receber (sem Cartões de Crédito),"(26,7)","706,3","680,8","781,3","794,0","733,0"
1,(+) Estoques,"2.120,2","5.005,9","4.198,2","4.075,5","3.801,8","2.885,7"
2,(+) Partes Relacionadas (sem Cartão Luiza),"(10,5)","71,3","80,4","77,1","100,6","81,8"
3,(+) Impostos a Recuperar,"186,3","932,0","748,9","877,4","864,1","745,7"
4,(+) Outros Ativos,"(56,6)","88,5","100,2","143,5","136,3","145,1"
5,(+) Ativos Circulantes Operacionais,"2.212,7","6.804,0","5.808,6","5.954,8","5.696,8","4.591,3"
7,(-) Fornecedores,"2.301,5","6.104,3","5.334,0","4.132,7","5.934,9","3.802,8"
8,(-) Repasses e outros depósitos,"627,3","627,3","639,3","235,9",-,-
9,"(-) Salários, Férias e Encargos Sociais","95,0","444,7","329,0","263,3","354,7","349,8"
10,(-) Impostos a Recolher,"90,7","299,6","206,4","176,9","352,0","208,8"
11,(-) Partes Relacionadas,"(15,8)","109,8","103,4","52,8","152,1","125,6"
12,(-) Receita Diferida,"(0,0)","43,0","43,1","43,0","43,0","43,0"
13,(-) Outras Contas a Pagar,"395,9","1.084,1","806,2","547,0","701,7","688,2"
14,(-) Passivos Circulantes Operacionais,"3.494,5","8.712,7","7.461,3","5.451,6","7.538,5","5.218,3"
16,(=) Capital de Giro Ajustado,"(1.281,8)","(1.908,7)","(1.652,7)","503,2","(1.841,7)","(627,0)"
17,% da Receita Bruta dos Últimos 12 Meses,"-3,2%","-6,1%","-6,1%","2,0%","-7,6%","-2,8%"

,R$ milhões,3T20,%,3T19,%.1,Var(%),9M20,%.2,9M20.1,%.3,Var(%).1
1,Lojas Novas,"21,2",14%,"94,6",51%,-78%,"69,0",21%,"121,9",31%,-43%
2,Reformas,"6,1",4%,"8,2",4%,-26%,"14,6",4%,"38,2",10%,-62%
3,Tecnologia,"69,1",45%,"32,6",18%,112%,"147,6",45%,"84,4",22%,75%
4,Logística,"36,3",24%,"32,8",18%,11%,"62,1",19%,"107,4",27%,-42%
5,Outros,"21,5",14%,"17,7",10%,22%,"35,7",11%,"38,8",10%,-8%
6,Total,"154,2",100%,"186,0",100%,-17%,"329,1",100%,"390,7",100%,-16%

- quando não vir os dados desejados

In [13]:
capital = df1[0]
capital = capital.dropna(how='all',axis =0)
capital = capital.dropna(how='all',axis = 1)
display(capital)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(+) Contas a Receber (sem Cartões de Crédito),"(26,7)","706,3","680,8","781,3","794,0","733,0"
1,(+) Estoques,"2.120,2","5.005,9","4.198,2","4.075,5","3.801,8","2.885,7"
2,(+) Partes Relacionadas (sem Cartão Luiza),"(10,5)","71,3","80,4","77,1","100,6","81,8"
3,(+) Impostos a Recuperar,"186,3","932,0","748,9","877,4","864,1","745,7"
4,(+) Outros Ativos,"(56,6)","88,5","100,2","143,5","136,3","145,1"
5,(+) Ativos Circulantes Operacionais,"2.212,7","6.804,0","5.808,6","5.954,8","5.696,8","4.591,3"
7,(-) Fornecedores,"2.301,5","6.104,3","5.334,0","4.132,7","5.934,9","3.802,8"
8,(-) Repasses e outros depósitos,"627,3","627,3","639,3","235,9",-,-
9,"(-) Salários, Férias e Encargos Sociais","95,0","444,7","329,0","263,3","354,7","349,8"
10,(-) Impostos a Recolher,"90,7","299,6","206,4","176,9","352,0","208,8"
11,(-) Partes Relacionadas,"(15,8)","109,8","103,4","52,8","152,1","125,6"
12,(-) Receita Diferida,"(0,0)","43,0","43,1","43,0","43,0","43,0"
13,(-) Outras Contas a Pagar,"395,9","1.084,1","806,2","547,0","701,7","688,2"
14,(-) Passivos Circulantes Operacionais,"3.494,5","8.712,7","7.461,3","5.451,6","7.538,5","5.218,3"
16,(=) Capital de Giro Ajustado,"(1.281,8)","(1.908,7)","(1.652,7)","503,2","(1.841,7)","(627,0)"
17,% da Receita Bruta dos Últimos 12 Meses,"-3,2%","-6,1%","-6,1%","2,0%","-7,6%","-2,8%"

In [17]:
df2 = tabula.read_pdf('MGLU_ER_3T20_POR.pdf', pages = 12,lattice= True)
titulo= df2[0]
titulo = titulo.dropna(how='all',axis =0)
titulo = titulo.dropna(how='all',axis = 1)
titulo = titulo.iloc[0]
titulo = titulo.dropna()
display(titulo)

Unnamed: 2     R$ milhões
Unnamed: 5        Dif 12U
Unnamed: 8          set-2
Unnamed: 11         jun-2
Unnamed: 14         mar-2
Unnamed: 17         dez-1
Unnamed: 20         set-1
Name: 1, dtype: object

In [19]:
capital.columns = titulo
display(capital)

1,R$ milhões,Dif 12U,set-2,jun-2,mar-2,dez-1,set-1
0,(+) Contas a Receber (sem Cartões de Crédito),"(26,7)","706,3","680,8","781,3","794,0","733,0"
1,(+) Estoques,"2.120,2","5.005,9","4.198,2","4.075,5","3.801,8","2.885,7"
2,(+) Partes Relacionadas (sem Cartão Luiza),"(10,5)","71,3","80,4","77,1","100,6","81,8"
3,(+) Impostos a Recuperar,"186,3","932,0","748,9","877,4","864,1","745,7"
4,(+) Outros Ativos,"(56,6)","88,5","100,2","143,5","136,3","145,1"
5,(+) Ativos Circulantes Operacionais,"2.212,7","6.804,0","5.808,6","5.954,8","5.696,8","4.591,3"
7,(-) Fornecedores,"2.301,5","6.104,3","5.334,0","4.132,7","5.934,9","3.802,8"
8,(-) Repasses e outros depósitos,"627,3","627,3","639,3","235,9",-,-
9,"(-) Salários, Férias e Encargos Sociais","95,0","444,7","329,0","263,3","354,7","349,8"
10,(-) Impostos a Recolher,"90,7","299,6","206,4","176,9","352,0","208,8"
11,(-) Partes Relacionadas,"(15,8)","109,8","103,4","52,8","152,1","125,6"
12,(-) Receita Diferida,"(0,0)","43,0","43,1","43,0","43,0","43,0"
13,(-) Outras Contas a Pagar,"395,9","1.084,1","806,2","547,0","701,7","688,2"
14,(-) Passivos Circulantes Operacionais,"3.494,5","8.712,7","7.461,3","5.451,6","7.538,5","5.218,3"
16,(=) Capital de Giro Ajustado,"(1.281,8)","(1.908,7)","(1.652,7)","503,2","(1.841,7)","(627,0)"
17,% da Receita Bruta dos Últimos 12 Meses,"-3,2%","-6,1%","-6,1%","2,0%","-7,6%","-2,8%"